@tailwind base;
@tailwind components;
@tailwind utilities;
@layer{
    .shoppedCards{
        display: flex; 
        height: 6rem;
        justify-content: center;
        align-items: center;
        
    }
    
    .navbar {
        display: flex;
        height: 80px;
        width: 100%;
        justify-content: center;
        align-items: center;
        transition: all ease-in-out 0.5s;
    }
}